<div class="max-w-2xl mx-auto">
  <div class="mb-8">
    <h1 class="text-3xl font-bold text-gray-800 flex items-center">
      <i class="fas fa-edit mr-3 text-blue-600"></i> Edit Todo
    </h1>
  </div>
  
  <%= render 'form', todo: @todo %>
</div>
